.instrument-icon {
    position: absolute;
    background-size: cover;
    height: 50px;
    width: 50px;
    right: 5px;
    bottom: 5px;
    opacity: 1;
    z-index: 999;

    &.piano,
    &.synth {
        height: 40px;
        width: 40px;
    }

    &.piano-chord {
        height: 45px;
        width: 45px;
    }

    &.bass {
        height: 55px;
        width: 55px;
        right: 0px;
        bottom: 10px;
    }

    &.percussion {
        right: 10px;
        bottom: 5px;
    }

    &.brass {
        height: 65px;
        width: 65px;
        right: 0px;
        bottom: 0px;
    }

    &.vocal {
        height: 60px;
        width: 60px;
        right: -5px;
        bottom: 0px;
    }

    &.guitar {
        height: 45px;
        width: 45px;
        bottom: 10px;
        right: 5px;
    }

    &.strings {
        height: 40px;
        width: 40px;
        right: 10px;
    }
}